QDMNodeContentWidget {
  background: transparent;
}
QDMNodeContentWidget QFrame {
  background: transparent;
}
QDMNodeContentWidget QTextEdit,
QDMNodeContentWidget QLineEdit {
  background: #666;
  color: #fff;
}
QDMNodeContentWidget QLabel {
  color: #e0e0e0;
  min-width: 150px;
  max-width: 150px;
  min-height: 45px;
  max-height: 45px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 28px;
}
QDMNodeContentWidget QLineEdit#calc_node_input {
  width: 140px;
  height: 36px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 28px;
}
QGraphicsView {
  selection-background-color: #fff;
}
